<tr>
    <th scope="row"><%= order.id %></th>
    <td><%= order.customer.name %></td>
    <td><%= order.date.strftime("%d/%m/%Y") %></td>
    <td><%= order.total_iva %></td>
    <td> 
        <%= link_to  edit_order_path(order) do %>
            <%= fa_stacked_icon "pencil inverse", base: "circle" %>
        <% end %>
        <%= link_to  order, method: :delete, data: { confirm: 'Estas seguro?' } do %>
            <%= fa_stacked_icon "trash inverse", base: "circle" %>
        <% end %>
    </td>
</tr>