<h1 class="display-5">Pedido No. <span><%= @order.id %></span></h1>
<hr class="my-2">
<legend>Datos del pedido</legend>

<%= form_for(@order) do |f| %>
<fieldset>    
    <div class="d-flex flex-wrap justify-content-start">
        <div class="form-group">
            <label for="date" class="col-sm-2 col-form-label">Fecha</label>
            <div class="col-sm-10">
                <%= f.date_field :date, placeholder: "Fecha", class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <label for="cliente" class="col-sm-2 col-form-label">Cliente</label><br>
            <%= f.collection_select(:customer_id, Customer.where(user: current_user).order(created_at: :desc), :id, :name, {prompt: "Elige un Cliente"}) %>
        </div>
    </div>
</fieldset>

<%= render  "table_products" %>

<div class="d-flex justify-content-end">
    <div>
        <div class="form-group">
            <label for="total" class="col-sm-2 col-form-label">Total</label>
            <div class="col-sm-10">
                <input type="text" readonly="" class="form-control-plaintext p-1 border border-dark border-top-0"
                    id="total" value='<%= @order.total %>'>
            </div>
        </div>
        <div class="form-group">
            <label for="total" class="col-sm-2 col-form-label">Total_Iva</label>
            <div class="col-sm-10">
                <input type="text" readonly="" class="form-control-plaintext p-1 border border-dark border-top-0"
                    id="total" value='<%= @order.total_iva %>'>
            </div>
        </div>
    </div>
</div>

<% end %>
<%= link_to 'volver', orders_path %>