<div class="jumbotron">
    <h1 class="display-5">Descripcion de Pedido</h1>
    <hr class="my-2">
    <form>
        <fieldset>
            <legend>Legend</legend>
            <div class="d-flex flex-wrap justify-content-around">
                <div class="form-group">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly=""
                            class="form-control-plaintext p-1 border border-dark border-top-0" id="staticEmail"
                            value="email@example.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly=""
                            class="form-control-plaintext p-1 border border-dark border-top-0" id="staticEmail"
                            value="email@example.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly=""
                            class="form-control-plaintext p-1 border border-dark border-top-0" id="staticEmail"
                            value="email@example.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly=""
                            class="form-control-plaintext p-1 border border-dark border-top-0" id="staticEmail"
                            value="email@example.com">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <!-- <th scope="col"></th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <!-- <td><%= fa_icon "trash" %>   <%= fa_icon "pencil" %></td> -->
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <!-- <td><%= fa_icon "trash" %>   <%= fa_icon "pencil" %></td> -->
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <!-- <td><%= fa_icon "trash" %>   <%= fa_icon "pencil" %></td> -->
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <div>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <div>
            <div class="form-group">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" readonly="" class="form-control-plaintext p-1 border border-dark border-top-0"
                        id="staticEmail" value="email@example.com">
                </div>
            </div>
            <div class="form-group">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" readonly="" class="form-control-plaintext p-1 border border-dark border-top-0"
                        id="staticEmail" value="email@example.com">
                </div>
            </div>
        </div>
    </div>
</div>