<tr id="<%= product.id %>">
    <th scope="row"><%= product.id %></th>
    <td><%= product.name %></td>
    <td><%= product.size %></td>
    <td><%= product.packing %></td>
    <td><%= product.price %></td>
</tr>