<% @order.order_products.each do |order_product| %>
<tr id="<%= order_product.id %>">
    <th scope="row"><%= order_product.id %></th>
    <td><%= order_product.product.name%></td>
    <td><%= order_product.product.size%></td>
    <td><%= order_product.product.packing%></td>
    <td><%= order_product.product.price%></td>
    <td><%= order_product.quantity %></td>
    <td><%= order_product.subtotal%></td>
    <td> 
        <%= link_to  order_product, method: :delete, data: { confirm: 'Estas seguro?' } do %>
            <%= fa_stacked_icon "trash inverse", base: "circle" %>
        <% end %>
    </td>
</tr>
<% end %>